@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/sf-mono");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

:root {
  --color-primary: #ebe2d0;
  --color-bright: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "SF Mono", sans-serif;
  background: #151316;
  // color: #ebe2d0;
  color: var(--color-primary);
}

.logo,
.welcome {
  font-family: "Titillium Web", sans-serif;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.main {
  z-index: 50;
}

.width {
  max-width: 100rem;
  margin: 0 auto;
}

.layout {
  position: fixed;
}

h1 {
  // color: #ebe2d0;
  color: var(--color-bright);
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 34.2px;
  transform: rotate(-90deg);
  position: absolute;
  left: -25rem;
  top: 25rem;
  z-index: 1;
}

.home-round {
  width: 300px;
  height: 300px;
  // background: #e5e5e5ee;
  background-color: var(--color-bright);
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 73vh;
  left: 79vw;
}

.header {
  position: sticky;
  top: 2rem;
  z-index: 100;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-family: Titillium Web;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 8px;
    // background-color: #3837371d;
  }

  .logo-round {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -32%;
    right: -10%;
    background: rgba(229, 229, 229, 0.3);
  }
  .logo-round:hover {
    background-color: #e5e5e59a;
    transform: scale(1.3);
    transition: all 1s linear;
  }

  // svg {
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   margin-top: -12px;
  // }
}

.home-search {
  padding: 40px 40px;
  text-align: center;

  input {
    background: #535254;
    padding: 0 24px;
    line-height: 30px;
    width: 35rem;
    font-family: Titillium Web;
    font-weight: 300;
    letter-spacing: 5.7px;
    border-radius: 0.5rem;
  }

  input:hover {
    background-color: var(--color-primary);
    color: #151316;
    transition: all 1s ease-in-out;
    transform: scale(1.02);
  }
}

.home-container {
}

section {
  max-width: 80rem;
  margin: 5rem;
}

.welcome {
  font-family: Titillium Web;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9.5px;
}
// ===

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 1rem 0;
  background-color: var(--color-primary);
  color: #151316;
  font-weight: 600;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.lists-container {
  background-color: rgba(27, 25, 30, 0.7);
  padding: 3rem;
  border-radius: 1rem;
  margin: 2rem auto;
  max-width: 80rem;
  min-width: 526px;

  text-align: center;
}
h4 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;

  line-height: normal;
  letter-spacing: 1px;
}
h4:hover {
  background-color: var(--color-primary);
  color: #151316;
  transition: all 0.2s ease-in-out;
}
.home-crypto {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 2.5rem;
  // margin-top: 1rem;
  // border-radius: 2rem;
  border-bottom: 1px solid var(--color-primary);
}
.home-crypto-image {
  width: 1.5rem;
  border-radius: 50%;
}
.home-crypto-name {
  flex: 1;
}
.home-crypto-symbol {
  font-size: 0.9rem;
  flex: 1;
}
.home-crypto-prices {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.crypto-usd {
  font-size: 0.5rem;
  color: #6f6f6b;
}

button {
  flex: 1;
  border-radius: 2rem;
  background-color: #ebe2d04d;
}

.button:hover {
}

// ==== show page =====

.show {
  max-width: 1000px;
  min-width: 600px;
  margin: 0rem auto;
  // padding: 2rem;
  text-align: center;

  .header {
    // padding-top: 1rem;
    a {
      align-items: center;

      .small-round {
        width: 40px;
        height: 40px;
        top: -5%;
        right: 2rem;
      }
      .arrow {
        width: 2rem;
      }
    }
  }
}

h2 {
  color: #ebe2d0;

  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
}
.show-section {
  img {
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
  }
}
.back-home {
  font-family: Titillium Web;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}

.show-graph {
  height: 250px;
  width: 750px;
}

.show-details {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 6rem 4rem;

  border-radius: 2rem;
  background-color: #1b191eb2;
  margin-top: 4rem;
  h4 {
    border-radius: 0.1rem;
    margin-right: 2rem;
    background-color: #ebe2d09c;
    color: #151316;
    padding: 0 1rem;
  }
  .market-cap:hover {
    background-color: var(--color-primary);
  }
}

.show-details-row {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ebe2d09c;
  justify-content: space-between;
}

.show-details-row:hover h4 {
  background-color: #ebe2d0;
  color: #151316;
  transition: all 0.1s ease-in-out;
}

// === footer ===
.footer {
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  p {
    color: #ebe2d0;
    font-size: 1rem;
    font-weight: 400;
  }
  .round {
    // position: absolute;
    background: #e5e5e5;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
